$tra: 0.4s linear;

* {
  text-transform: capitalize;
  box-sizing: border-box;
  color: var(--text-theme);
}

:root {
  --main-theme: hsl(252, 35%, 51%);
  --theme-mode: black;
  --text-theme: white;
}
.light-theme {
  --theme-mode: white;
  --text-theme: black;
}
html {
  scroll-behavior: smooth;
}

.cen {
  text-align: center;
  font-size: 45px;
  span {
    color: var(--main-theme);
  }
  text-shadow: 0px 0px 50px var(--text-theme);
  margin: 50px 0px;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--theme-mode);
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}

textarea,
button,
input {
  border: none;
  outline: none;
}

// Nav

.nav {
  width: 100%;
  position: sticky;
  top: 0px;
  right: 30px;
  z-index: 100;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-mode);
  ul {
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    li {
      position: relative;
      transition: $tra;
      width: 80px;
      height: 62px;
      overflow: hidden;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border-radius: 20px;
        border: 3px solid var(--main-theme);
        i {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .nav {
    ul {
      li {
        width: 50px;
        height: 50px;
      }
    }
  }
}

// Nav

// Home
.home {
  display: flex;
  min-height: 50vh;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: var(--main-theme);
    transform: skewX(20deg) translateX(-75%);
    width: 100%;
    height: 100%;
    z-index: -11;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: var(--main-theme);
    transform: skewX(-20deg) translateX(75%);
    width: 100%;
    height: 100%;
    z-index: -11;
    right: 0;
    top: 0;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .cloud {
      margin: 40px 0px;
      width: 250px;
      height: 70px;
      border-radius: 40px;
      background-color: var(--text-theme);
      filter: drop-shadow(0px 0px 35px var(--text-theme));
      position: relative;
      transform: translateY(35%);
      .char {
        position: absolute;
        bottom: -30px;
        transition: $tra;
        animation: down 2s linear infinite;
      }
      h1 {
        font-size: 300px;
        color: aqua;
        margin: 0%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 110px;
        height: 110px;
        background-color: var(--text-theme);
        border-radius: 50%;
        box-shadow: 40px -20px 0px var(--text-theme);
        top: -40px;
        left: 20%;
      }
    }
  }
  .con {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      margin: 0%;
      margin-bottom: 6px;
    }
    h2 {
      margin: 0%;
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(0px) scale(1);
  }

  80% {
    transform: translateY(400px) scale(1);
  }
  
  100% {
    transform: translateY(750px) scale(0);
  }
}

@media (max-width: 360px) {
  .home {
    .con {
      h1 {
        font-size: 27px;
      }
      h2 {
        font-size: 19px;
      }
    }
  }
}
@media (max-width: 560px) {
  .home {
    &::before{
      transform: skewX(20deg) translateX(-95%);
    }
    &::after{
      transform: skewX(-20deg) translateX(95%);
    }
  }
}

// Home

// About

.about {
  overflow: hidden;
  .container {
    .all {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      .col {
        &:nth-child(1) {
          h3 {
            transform: translateX(-100%);
          }
        }
        &:nth-child(2) {
          h3 {
            transform: translateX(100%);
          }
        }
        text-align: center;
        h3 {
          width: 390px;
          font-size: 26px;
          border: 1px solid var(--text-theme);
          padding: 10px;
          border-radius: 10px;
          transition-property: transform, opacity;
          transition-duration: 1.5s, 1s;
          opacity: 0;
          &.noTrans {
            transform: translateX(0%);
            opacity: 1;
          }
          span {
            color: var(--main-theme);
          }
        }
      }
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 20px;
      .box {
        border-radius: 20px;
        border: 1px solid var(--text-theme);
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        transition-property: transform, opacity;
        transition-duration: 2s, 1s;
        transform: translateX(400px);
        opacity: 0;
        &:nth-child(4) {
          transform: translateX(-400px);
        }
        &:nth-child(5) {
          transform: translateX(-400px);
        }
        &:nth-child(6) {
          transform: translateX(-400px);
        }
        .go {
          .circle {
            width: 220px;
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: conic-gradient(
              from 0deg,
              var(--main-theme) 0%,
              var(--main-theme) 0% var(--i),
              #999 var(--i),
              #999 100%
            );
            border-radius: 50%;
            h3 {
              font-size: 25px;
              position: relative;
            }
            &::before {
              position: absolute;
              content: "";
              background-color: var(--theme-mode);
              inset: 10px;
              border-radius: 50%;
            }
            &::after {
              position: absolute;
              content: "";
              width: 180px;
              height: 180px;
              border: 5px solid var(--main-theme);
              border-radius: 50%;
              animation: 2s trans infinite linear;
            }
          }
        }
        h3 {
          font-size: 25px;
        }
      }
    }
  }
}

.observe {
  transform: translateX(0px) !important;
  opacity: 1 !important;
}

@keyframes trans {
  50% {
    transform: rotateY(120deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes flip {
  50% {
    transform: rotateX(180deg);
  }
}

@media (max-width: 400px) {
  .about {
    .container {
      .skills {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      }
    }
  }
}

@media (max-width: 500px) {
  .about {
    .container {
      .all {
        .col {
          h3 {
            font-size: 23px;
          }
        }
      }
      .skills {
        .box {
          transform: translateX(150px);
          &:nth-child(4) {
            transform: translateX(-150px);
          }
          &:nth-child(5) {
            transform: translateX(-150px);
          }
          &:nth-child(6) {
            transform: translateX(-150px);
          }
        }
      }
    }
  }
}

@media (max-width: 855px) {
  .about {
    .container {
      .all {
        flex-direction: column;
        gap: 0px;
        .col {
          h3 {
            margin: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .about {
    .container {
      .all {
        .col {
          h3 {
            font-size: 22px;
            width: 270px;
          }
        }
      }
    }
  }
}

// About

// Portfolio

.port {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: flex-start;
    gap: 20px;
    .all {
      &.observe-2 .box {
        transform: scale(1) !important;
        opacity: 1 !important;
      }
      .box {
        border-radius: 20px;
        transition-property: transform, opacity;
        transition-duration: 1.5s, 4s;
        transform: scale(0);
        opacity: 0;
        img.one {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        .absolute {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--main-theme);
          top: 0%;
          left: 0%;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: $tra;
          cursor: pointer;
        }
        &:hover .absolute {
          opacity: 1;
        }
      }
    }

    .pop {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      width: 400px;
      height: 400px;
      background-color: #999;
      padding: 20px;
      text-align: center;
      border-radius: 20px;
      .card {
        position: relative;
        width: 200px;
        height: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .face {
          backface-visibility: hidden;
          width: 200px;
          height: 200px;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: $tra;
          border-radius: 50%;
        }

        .back {
          transform: rotateY(180deg);
          background-color: var(--main-theme);
          animation: root2 2s ease-out infinite;
        }

        & .front {
          animation: root 2s ease-out infinite;
        }

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
      }
      a {
        margin-top: 30px;
        font-weight: bold;
        span {
          color: var(--main-theme);
        }
      }

      i {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-theme);
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        border: 1px solid #dddd;
      }
    }
  }
}

@media (max-width: 400px) {
  .port {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
  }
}
@media (max-width: 450px) {
  .port {
    .container {
      .all {
        .pop {
          width: 270px;
          height: 450px;
        }
      }
    }
  }
}

@keyframes root {
  50% {
    transform: rotateY(180deg);
  }
}
@keyframes root2 {
  50% {
    transform: rotateY(360deg);
  }
}

// Portfolio

// Contact

.contact {
  .container {
    gap: 20px;
    .col {
      margin-bottom: 40px;
      h2,
      p {
        margin-top: 0px;
        text-align: center;
      }
      .links {
        display: flex;
        height: 70px;
        justify-content: center;
        gap: 2%;
        a {
          width: 290px;
          background-color: var(--main-theme);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          i {
            font-size: 28px;
          }
        }
      }
    }
    form {
      button {
        background-color: var(--theme-mode);
        border: 1px solid var(--main-theme);
        width: 200px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        padding: 0px 10px;
        justify-content: flex-start;
        margin: 30px auto;
        cursor: pointer;
        align-items: center;
        position: relative;
        overflow: hidden;
        z-index: 0;
        .send {
          position: absolute;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 0%;
          border-radius: 50%;
          background-color: var(--main-theme);
          transition: $tra;
          z-index: -1;
        }
        &:hover .send {
          box-shadow: 0px 0px 0px 300px var(--main-theme);
        }
      }
      .inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;
        gap: 20px;
        input {
          height: 40px;
          flex: 1 1 350px;
          border-radius: 20px;
          padding-left: 10px;
          margin-bottom: 10px;
          background-color: #333;
          &:nth-child(2) {
            text-transform: lowercase;
          }
          &:focus {
            border: 2px solid var(--main-theme);
          }
        }
      }
      .area {
        background-color: #333;
        resize: none;
        width: 100%;
        border-radius: 20px;
        padding-left: 10px;
        padding-top: 10px;
        &:focus {
          border: 2px solid var(--main-theme);
        }
      }
    }
  }
}

// Contact

// Switcher

.switcher {
  .go {
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: var(--text-theme);
    width: 250px;
    padding: 0px 20px;
    transition: $tra;
    transform: translateX(-101%);
    z-index: 200;
  }
  &.trans0 .go {
    transform: translateX(0px);
  }
  .open {
    width: 40px;
    border-radius: 6px;
    transition: $tra;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--text-theme);
    i {
      color: var(--theme-mode);
    }
    position: fixed;
    top: 100px;
    left: 0px;
    cursor: pointer;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: var(--theme-mode);
    }
    i {
      font-size: 28px;
      color: var(--theme-mode);
      cursor: pointer;
    }
  }
  .colors {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    .box {
      width: 40px;
      cursor: pointer;
    }
  }
  .back-ground {
    margin: 10px 0px;
    height: 60px;
    button {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-color: var(--main-theme);
      font-size: 27px;
      border-radius: 10px;
    }
  }
}

// Switcher
