* {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-theme);
}

:root {
  --main-theme: hsl(252, 35%, 51%) ;
  --theme-mode: black ;
  --text-theme: white ;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--theme-mode);
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

textarea, button {
  border: none;
  outline: none;
}

.App {
  min-height: 20000px;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  padding-bottom: 40px;
  z-index: 100;
}
.nav ul {
  width: 98%;
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.nav ul li {
  position: relative;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  width: 80px;
  height: 62px;
  overflow: hidden;
}
.nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  border-radius: 20px;
  border: 1px solid var(--main-theme);
}
.nav ul li a i {
  font-size: 20px;
}
.nav ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--main-theme);
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  top: 50%;
  left: var(--x);
  opacity: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}
.nav ul li:hover::before {
  opacity: 1;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home::before {
  content: "";
  position: absolute;
  background-color: var(--main-theme);
  -webkit-transform: skewX(20deg) translateX(-75%);
          transform: skewX(20deg) translateX(-75%);
  width: 100%;
  height: 100%;
  z-index: -11;
}
.home .box {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.home .box .cloud {
  margin-top: 80px;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  background-color: var(--text-theme);
  -webkit-filter: drop-shadow(0px 0px 35px var(--text-theme));
          filter: drop-shadow(0px 0px 35px var(--text-theme));
  position: relative;
}
.home .box .cloud .char {
  position: absolute;
  bottom: -50px;
  -webkit-animation: down 3s linear infinite;
          animation: down 3s linear infinite;
}
.home .box .cloud h1 {
  font-size: 300px;
  color: aqua;
  margin: 0%;
}
.home .box .cloud::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  background-color: var(--text-theme);
  border-radius: 50%;
  -webkit-box-shadow: 40px -20px 0px var(--text-theme);
          box-shadow: 40px -20px 0px var(--text-theme);
  top: -40px;
  left: 20%;
}
.home .con {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home .con h1 {
  margin: 0%;
}
.home .con p {
  margin: 0%;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  100% {
    -webkit-transform: translateY(750px) scale(0);
            transform: translateY(750px) scale(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  100% {
    -webkit-transform: translateY(750px) scale(0);
            transform: translateY(750px) scale(0);
  }
}