$tra: 0.4s linear;

* {
  text-transform: capitalize;
  box-sizing: border-box;
  color: var(--text-theme);
}

:root {
  --main-theme: hsl(252, 35%, 51%);
  --theme-mode: black;
  --text-theme: white;
}
html{
    scroll-behavior: smooth;
}

.cen{
    text-align: center;
    font-size: 45px;
    span{
        color: var(--main-theme);
    }
    text-shadow: 0px 0px 50px var(--text-theme);
    margin: 50px 0px;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--theme-mode);
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}

textarea,
button {
  border: none;
  outline: none;
}

.App {
  min-height: 20000px;
}

// Nav

.nav {
  width: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  padding-bottom: 40px;
  z-index: 100;
  ul {
    width: 98%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;

    li {
      position: relative;
      transition: $tra;
      width: 80px;
      height: 62px;
      overflow: hidden;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border-radius: 20px;
        border: 3px solid var(--main-theme);
        i {
          font-size: 20px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: var(--main-theme);
        width: 80px;
        height: 80px;
        transform: translate(-50%, -50%);
        z-index: -1;
        top: 50%;
        left: var(--x);
        opacity: 0;
        transition: $tra;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
}

// Nav

// Home
.home {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  &::before {
    content: "";
    position: absolute;
    background-color: var(--main-theme);
    transform: skewX(20deg) translateX(-75%);
    width: 100%;
    height: 100%;
    z-index: -11;
  }
  .box {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .cloud {
      margin-top: 80px;
      width: 250px;
      height: 70px;
      border-radius: 40px;
      background-color: var(--text-theme);
      filter: drop-shadow(0px 0px 35px var(--text-theme));
      position: relative;
      .char {
        position: absolute;
        bottom: -30px;
        transition: $tra;
        animation: down 3s linear infinite;
      }
      h1 {
        font-size: 300px;
        color: aqua;
        margin: 0%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 110px;
        height: 110px;
        background-color: var(--text-theme);
        border-radius: 50%;
        box-shadow: 40px -20px 0px var(--text-theme);
        top: -40px;
        left: 20%;
      }
    }
  }
  .con {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
      margin: 0%;
      margin-bottom: 6px;
    }
    h2 {
      margin: 0%;
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(0px) scale(1);
  }

  80%{
    transform: translateY(400px)  scale(1);
  }
  100% {
    transform: translateY(750px) scale(0);
  }
}

@media (max-width: 360px) {
  .home {
    .con {
      h1 {
        font-size: 27px;
      }
      h2 {
        font-size: 19px;
      }
    }
  }
}

// Home


// About
.about{
    .container{
        .all{
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            .col{
                text-align: center;
                h3{
                    span{
                        color: var(--main-theme);
                    }
                }
            }
        }
    }
}
// About
