* {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-theme);
}

:root {
  --main-theme: hsl(252, 35%, 51%);
  --theme-mode: black;
  --text-theme: white;
}

html {
  scroll-behavior: smooth;
}

.cen {
  text-align: center;
  font-size: 45px;
  text-shadow: 0px 0px 50px var(--text-theme);
  margin: 50px 0px;
}
.cen span {
  color: var(--main-theme);
}

body {
  margin: 0%;
  padding: 0%;
  background-color: var(--theme-mode);
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}

textarea,
button {
  border: none;
  outline: none;
}

.App {
  min-height: 20000px;
}

.nav {
  width: 100%;
  position: sticky;
  top: 0px;
  right: 30px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--theme-mode);
}
.nav ul {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav ul li {
  position: relative;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  width: 80px;
  height: 62px;
  overflow: hidden;
}
.nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  border-radius: 20px;
  border: 3px solid var(--main-theme);
}
.nav ul li a i {
  font-size: 20px;
}

@media (max-width: 450px) {
  .nav ul li {
    width: 50px;
    height: 50px;
  }
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home::before {
  content: "";
  position: absolute;
  background-color: var(--main-theme);
  -webkit-transform: skewX(20deg) translateX(-75%);
          transform: skewX(20deg) translateX(-75%);
  width: 100%;
  height: 100%;
  z-index: -11;
}
.home .box {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.home .box img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.home .box .cloud {
  margin-top: 80px;
  width: 250px;
  height: 70px;
  border-radius: 40px;
  background-color: var(--text-theme);
  -webkit-filter: drop-shadow(0px 0px 35px var(--text-theme));
          filter: drop-shadow(0px 0px 35px var(--text-theme));
  position: relative;
}
.home .box .cloud .char {
  position: absolute;
  bottom: -30px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-animation: down 2s linear infinite;
          animation: down 2s linear infinite;
}
.home .box .cloud h1 {
  font-size: 300px;
  color: aqua;
  margin: 0%;
}
.home .box .cloud::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  background-color: var(--text-theme);
  border-radius: 50%;
  -webkit-box-shadow: 40px -20px 0px var(--text-theme);
          box-shadow: 40px -20px 0px var(--text-theme);
  top: -40px;
  left: 20%;
}
.home .con {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home .con h1 {
  margin: 0%;
  margin-bottom: 6px;
}
.home .con h2 {
  margin: 0%;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  80% {
    -webkit-transform: translateY(400px) scale(1);
            transform: translateY(400px) scale(1);
  }
  100% {
    -webkit-transform: translateY(750px) scale(0);
            transform: translateY(750px) scale(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
  80% {
    -webkit-transform: translateY(400px) scale(1);
            transform: translateY(400px) scale(1);
  }
  100% {
    -webkit-transform: translateY(750px) scale(0);
            transform: translateY(750px) scale(0);
  }
}
@media (max-width: 360px) {
  .home .con h1 {
    font-size: 27px;
  }
  .home .con h2 {
    font-size: 19px;
  }
}
.about {
  overflow: hidden;
}
.about .container.animate h3 {
  -webkit-animation: flip 1s linear infinite;
          animation: flip 1s linear infinite;
}
.about .container button {
  display: block;
  background-color: var(--main-theme);
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  width: 250px;
  font-weight: bold;
  font-size: 23px;
  border-radius: 20px;
  cursor: pointer;
}
.about .container button.stop {
  display: none;
}
.about .container .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .container .all .col {
  text-align: center;
}
.about .container .all .col h3 {
  font-size: 30px;
}
.about .container .all .col h3 span {
  color: var(--main-theme);
}
.about .container .skills {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.about .container .skills .box {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 2s, 1s;
          transition-duration: 2s, 1s;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  opacity: 0;
}
.about .container .skills .box:nth-child(4) {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}
.about .container .skills .box:nth-child(5) {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}
.about .container .skills .box:nth-child(6) {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
}
.about .container .skills .box .go .circle {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: conic-gradient(from 0deg, var(--main-theme) 0%, var(--main-theme) 0% var(--i), #999 var(--i), #555 100%);
  border-radius: 50%;
}
.about .container .skills .box .go .circle h3 {
  font-size: 30px;
  position: relative;
}
.about .container .skills .box .go .circle::before {
  position: absolute;
  content: "";
  background-color: var(--theme-mode);
  inset: 10px;
  border-radius: 50%;
}
.about .container .skills .box .go .circle::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  border: 10px solid var(--main-theme);
  border-radius: 50%;
  -webkit-animation: 2s trans infinite linear;
          animation: 2s trans infinite linear;
}
.about .container .skills .box h3 {
  font-size: 25px;
}

.observe {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  opacity: 1 !important;
}

@-webkit-keyframes trans {
  50% {
    -webkit-transform: rotateX(120deg) skewX(40deg);
            transform: rotateX(120deg) skewX(40deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes trans {
  50% {
    -webkit-transform: rotateX(120deg) skewX(40deg);
            transform: rotateX(120deg) skewX(40deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@-webkit-keyframes flip {
  70% {
    -webkit-transform: rotateX(180deg) skewx(30deg);
            transform: rotateX(180deg) skewx(30deg);
  }
}
@keyframes flip {
  70% {
    -webkit-transform: rotateX(180deg) skewx(30deg);
            transform: rotateX(180deg) skewx(30deg);
  }
}
@media (max-width: 400px) {
  .about .container .skills {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@media (max-width: 500px) {
  .about .container .all .col h3 {
    font-size: 23px;
  }
  .about .container .skills .box {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  .about .container .skills .box:nth-child(4) {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  .about .container .skills .box:nth-child(5) {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  .about .container .skills .box:nth-child(6) {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}
.port .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.port .container .all.observe-2 .box {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  opacity: 1 !important;
}
.port .container .all .box {
  border-radius: 20px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 1s, 0.2s;
          transition-duration: 1s, 0.2s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.port .container .all .box img.one {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.port .container .all .box .absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-theme);
  top: 0%;
  left: 0%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  cursor: pointer;
}
.port .container .all .box:hover .absolute {
  opacity: 1;
}
.port .container .pop {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #999;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.port .container .pop .card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.port .container .pop .card .face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  border-radius: 50%;
}
.port .container .pop .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: var(--main-theme);
  -webkit-animation: root2 2s ease-out infinite;
          animation: root2 2s ease-out infinite;
}
.port .container .pop .card .front {
  -webkit-animation: root 2s ease-out infinite;
          animation: root 2s ease-out infinite;
}
.port .container .pop .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.port .container .pop a {
  margin-top: 30px;
  font-weight: bold;
}
.port .container .pop a span {
  color: var(--main-theme);
}
.port .container .pop i {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-theme);
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid rgba(221, 221, 221, 0.8666666667);
}

@media (max-width: 400px) {
  .port .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
@media (max-width: 450px) {
  .port .container .all .pop {
    width: 270px;
    height: 450px;
  }
}
@-webkit-keyframes root {
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes root {
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@-webkit-keyframes root2 {
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes root2 {
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}